<h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
<% if is_current_user?(current_user) %>
  <%= link_to "Edit User", edit_user_path(current_user) %>
  <%= link_to "Delete User", user_path(current_user), method: :delete %>
<% end %>
